<a href="https://colab.research.google.com/github/mertcolab/Advert2020/blob/main/p1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1: Report Repair

### Part 1 
After saving Christmas five years in a row, you've decided to take a vacation at a nice resort on a tropical island. Surely, Christmas will go on without you.

The tropical island has its own currency and is entirely cash-only. The gold coins used there have a little picture of a starfish; the locals just call them stars. None of the currency exchanges seem to have heard of them, but somehow, you'll need to find fifty of these coins by the time you arrive so you can pay the deposit on your room.

To save your vacation, you need to get all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

Before you leave, the Elves in accounting just need you to fix your expense report (your puzzle input); apparently, something isn't quite adding up.

Specifically, they need you to find the two entries that sum to 2020 and then multiply those two numbers together.

For example, suppose your expense report contained the following:
1721
979
366
299
675
1456

In this list, the two entries that sum to 2020 are 1721 and 299. Multiplying them together produces 1721 * 299 = 514579, so the correct answer is 514579.

Of course, your expense report is much larger. Find the two entries that sum to 2020; what do you get if you multiply them together?

To begin, get your puzzle input.

In [ ]:
from google.colab import drive
drive.mount('gdrive')

Mounted at gdrive

In [ ]:
path = "/content/gdrive/My Drive/Colab Notebooks/Advert2020/p1_input.txt"
myfile = open(path)

In [ ]:
import pandas as pd

df = pd.read_csv(path, header=None, names=["value"])

In [ ]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   200 non-null    int64
dtypes: int64(1)
memory usage: 1.7 KB

In [ ]:
df = df.sort_values(by='value', ignore_index=True)

In [ ]:
print('Number of Columns: {} Rows:{}'.format(len(df),len(df.columns)))

Number of Columns: 200 Rows:1

In [ ]:
df.iloc[-1]

value    2002
Name: 199, dtype: int64

In [ ]:
value1 = 0
value2 = 0
done = False
for i in range(len(df)):
  value1 = df.iloc[i]['value']
  need = 2020-value1
  for k in range(-1,-len(df),-1):
    value2 = df.iloc[k]['value']
    if need == value2:
      print('Value1 : {}, Value2 : {}'.format(value1,value2))
      print('Result : {}'.format(value1*value2))
      done = True
      break

    if need>value2:
      break      
  if done:
    break

Value1 : 548, Value2 : 1472
Result : 806656

### Part 2 

The Elves in accounting are thankful for your help; one of them even offers you a starfish coin they had left over from a past vacation. They offer you a second one if you can find three numbers in your expense report that meet the same criteria.

Using the above example again, the three entries that sum to 2020 are 979, 366, and 675. Multiplying them together produces the answer, 241861950.

In your expense report, what is the product of the three entries that sum to 2020?

In [ ]:
value1 = 0
value2 = 0
value3 = 0
done = False
for i in range(len(df)):
  value1 = df.iloc[i]['value']
  need = 2020-value1
  for k in range(i+1, len(df)):
    value2 = df.iloc[k]['value']
    if value2 > need:
      break

    need -= value2
    for l in range(-1,-len(df),-1):
      value3 = df.iloc[l]['value']
      if need == value3:
        print('Value1 : {}, Value2 : {}, Value3 : {}'.format(value1,value2,value3))
        print('Result : {}'.format(value1*value2*value3))
        done = True
        break
      if need>value3:
        break
    
    if done:
      break
  if done:
    break

NeEd , 320
Value1 : 807, Value2 : 893, Value3 : 320
Result : 230608320