<a href="https://colab.research.google.com/github/mertcolab/Advent2020/blob/main/p5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Day 5: Binary Boarding

### Part 1 

You board your plane only to discover a new problem: you dropped your boarding pass! You aren't sure which seat is yours, and all of the flight attendants are busy with the flood of people that suddenly made it through passport control.

You write a quick program to use your phone's camera to scan all of the nearby boarding passes (your puzzle input); perhaps you can find your seat through process of elimination.

Instead of zones or groups, this airline uses binary space partitioning to seat people. A seat might be specified like FBFBBFFRLR, where F means "front", B means "back", L means "left", and R means "right".

The first 7 characters will either be F or B; these specify exactly one of the 128 rows on the plane (numbered 0 through 127). Each letter tells you which half of a region the given seat is in. Start with the whole list of rows; the first letter indicates whether the seat is in the front (0 through 63) or the back (64 through 127). The next letter indicates which half of that region the seat is in, and so on until you're left with exactly one row.

For example, consider just the first seven characters of FBFBBFFRLR:

Start by considering the whole range, rows 0 through 127.
F means to take the lower half, keeping rows 0 through 63.
B means to take the upper half, keeping rows 32 through 63.
F means to take the lower half, keeping rows 32 through 47.
B means to take the upper half, keeping rows 40 through 47.
B keeps rows 44 through 47.
F keeps rows 44 through 45.
The final F keeps the lower of the two, row 44.
The last three characters will be either L or R; these specify exactly one of the 8 columns of seats on the plane (numbered 0 through 7). The same process as above proceeds again, this time with only three steps. L means to keep the lower half, while R means to keep the upper half.

For example, consider just the last 3 characters of FBFBBFFRLR:

Start by considering the whole range, columns 0 through 7.
R means to take the upper half, keeping columns 4 through 7.
L means to take the lower half, keeping columns 4 through 5.
The final R keeps the upper of the two, column 5.
So, decoding FBFBBFFRLR reveals that it is the seat at row 44, column 5.

Every seat also has a unique seat ID: multiply the row by 8, then add the column. In this example, the seat has ID 44 * 8 + 5 = 357.

Here are some other boarding passes:
```
BFFFBBFRRR: row 70, column 7, seat ID 567.
FFFBBBFRRR: row 14, column 7, seat ID 119.
BBFFBBFRLL: row 102, column 4, seat ID 820.
```
As a sanity check, look through your list of boarding passes. What is the highest seat ID on a boarding pass?

In [1]:
from google.colab import drive
drive.mount('gdrive')

Drive already mounted at gdrive; to attempt to forcibly remount, call drive.mount("gdrive", force_remount=True).

In [2]:
path = "/content/gdrive/My Drive/Colab Notebooks/Advent2020/p5_input.txt"
myfile = open(path)

In [3]:
import pandas as pd
import copy

df = pd.read_csv(path, header=None, names=["seats"])
df.info()
df[0:5]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897 entries, 0 to 896
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   seats   897 non-null    object
dtypes: object(1)
memory usage: 7.1+ KB

        seats
0  BFBBFFBRRL
1  BFBFFFFRLL
2  FBFBFFBRRR
3  FFBBBFBRLL
4  BBBFBFBRLR

In [4]:
max_value = 0
tickets = []
ticket = {}
for i in range(len(df)):
  ticket['barcode'] = df.iloc[i][0]
  row = [0,127]
  seat = [0,7]
  for k in range(len(df.iloc[i][0])):
    if k<7:
      temp = (row[0]+row[1]+1)/2
      if df.iloc[i][0][k] == 'F':
        row[1] = temp-1
      else:
        row[0] = temp
    else:
      seatemp = (seat[0]+seat[1]+1)/2
      if df.iloc[i][0][k] == 'L':
        seat[1] = seatemp-1
      else:
        seat[0] = seatemp
  ticket['row'] = int(row[0])
  ticket['seat'] = int(seat[0])
  ticket['id'] = int(row[0]*8+seat[0])
  tickets.append(copy.deepcopy(ticket))
tickets = pd.DataFrame(tickets) 
print("The highest id is {}".format(tickets['id'].max()))
print("The ticket is \n{}".format(tickets.iloc[tickets['id'].argmax()]))
# print("There are {} valid entries".format(counter))

The highest id is 965
The ticket is
barcode    BBBBFFFRLR
row               120
seat                5
id                965
Name: 452, dtype: object

### Part Two
Ding! The "fasten seat belt" signs have turned on. Time to find your seat.

It's a completely full flight, so your seat should be the only missing boarding pass in your list. However, there's a catch: some of the seats at the very front and back of the plane don't exist on this aircraft, so they'll be missing from your list as well.

Your seat wasn't at the very front or back, though; the seats with IDs +1 and -1 from yours will be in your list.

What is the ID of your seat?

In [6]:
tickets.sort_values(inplace=True,ascending=True, by='id')

In [8]:
for i in range(1,len(tickets)):
  if (tickets.iloc[i]['id'] - tickets.iloc[i-1]['id']) != 1:
    print('Missing ticket is between the following two')
    print('Row: {}, Seat: {} with id: {}'.format(tickets.iloc[i-1]['row'],tickets.iloc[i-1]['seat'],tickets.iloc[i-1]['id']))
    print('Row: {}, Seat: {} with id: {}'.format(tickets.iloc[i]['row'],tickets.iloc[i]['seat'],tickets.iloc[i]['id']))

Missing ticket is between the following two
Row: 65, Seat: 3 with id: 523
Row: 65, Seat: 5 with id: 525